<div class="container phs">
  <div class="row nmhxs">
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.craftvapery.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-refresh"></i>
                          <div class="mts c-8 fsxs hidden-xs">Subscription</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fss fwl text-center">
                  Craft Vapery
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.stacksocial.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fss fwl text-center">
                  StackSocial
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.henryart.org", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-university"></i>
                          <div class="mts c-8 fsxs hidden-xs">Museum</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fss fwl text-center">
                  Henry Art Gallery
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://www.popjova.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fss fwl text-center">
                  popjova
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://www.hkstudiorentals.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fss fwl text-center">
                  HK Studio
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.sidelinemarketingltd.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fss fwl text-center">
                  Sideline Marketing
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Working with Superjova has, by far been the best website and development process I have ever been through. No challenge is too hard for them to accomplish, and when they have a due date, they deliver on time - every time. After wasting money with countless developers, development houses, and project managers - I’m happy to say that Superjova is our development group of choice.
 -->
