<div class="container phs">
  <div class="row nmhxs">
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.craftvapery.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="relative bg-cover bg-repeat-n square" style="background-image: url('<%= asset_path "craftvapery/screenshot.png" %>')"></div>
          <div class="lhs bg-4 c-15 fss fwl text-center">
            Craft Vapery
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.stacksocial.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="relative bg-cover bg-repeat-n square" style="background-image: url('<%= asset_path "stacksocial/screenshot.png" %>')"></div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          StackSocial
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.popjova.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="relative bg-cover bg-repeat-n square" style="background-image: url('<%= asset_path "popjova/screenshot.png" %>')"></div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          popjova
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.henryart.org", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="relative bg-cover bg-repeat-n square" style="background-image: url('<%= asset_path "henryart/screenshot.png" %>')"></div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          Henry Art Gallery
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://hkstudiorentals.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="relative bg-cover bg-repeat-n square" style="background-image: url('<%= asset_path "hkstudio/screenshot.png" %>')"></div>
          <div class="lhs bg-4 c-15 fss fwl text-center">
            HK Studio
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.sidelinemarketingltd.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="relative bg-cover bg-repeat-n square" style="background-image: url('<%= asset_path "sidelinemarketing/screenshot.png" %>')"></div>
          <div class="lhs bg-4 c-15 fss fwl text-center">
            Sideline Marketing
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Working with Superjova has, by far been the best website and development process I have ever been through. No challenge is too hard for them to accomplish, and when they have a due date, they deliver on time - every time. After wasting money with countless developers, development houses, and project managers - I’m happy to say that Superjova is our development group of choice.
 -->
