<div class="container phs">
  <div class="pas mtm bg-4 c-15 fsl fwl text-center bss bwas bc-3">
    CLIENTS
  </div>
  <div class="row nmhxs">
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://top-fan.com/", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-comment"></i>
                          <div class="mts c-8 fsxs hidden-xs">Social</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  TopFan
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://dronebase.com/", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">DroneBase</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Topfan
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.craftvapery.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-refresh"></i>
                          <div class="mts c-8 fsxs hidden-xs">Subscription</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Craft Vapery
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.stacksocial.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  StackSocial
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.henryart.org", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-university"></i>
                          <div class="mts c-8 fsxs hidden-xs">Museum</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Henry Art Gallery
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://www.popjova.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  popjova
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "http://www.hkstudiorentals.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  HK Studio
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <%= link_to "https://www.sidelinemarketingltd.com", target: "_blank" do %>
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="mts c-8 fsxs hidden-xs">Ecommerce</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Sideline Marketing
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="pas mtm bg-4 c-15 fsl fwl text-center bss bwas bc-3">
    TESTIMONIALS
  </div>
  <div class="row nmhs">
    <div class="col-sm-4 phs mtm">
      <div class="phm">
        <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("craftvapery/logo.png") %>')"></div>
      </div>
    </div>
    <div class="col-sm-8 phs mtm">
      <div class="pas bg-15 bss bwas bc-13">
        <div class="fsm">
          <i class="fa fa-quote-left mrxxxs c-5 fsl"></i> Working with Superjova has, by far been the best website and development process I have ever been through. No challenge is too hard for them to accomplish, and when they have a due date, they deliver on time - every time. After wasting money with countless developers, development houses, and project managers - I’m happy to say that Superjova is our development group of choice. <i class="fa fa-quote-right mlxxxs c-5 fsl"></i>
        </div>
        <div class="mtm fss fwl">
          - Matt Kaye <span class="c-10 italicize">President</span>
        </div>
      </div>
    </div>
  </div>
</div>
