<div class="container phs">
  <% if flash[:notice].present? %>
    <div class="paxs mtm bg-blue c-15 fsxs bss bwas bc-13 text-center upcase">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:error].present? %>
    <div class="paxs mtm bg-blue c-15 fsxs bss bwas bc-13 text-center upcase">
      <%= flash[:error] %>
    </div>
  <% end %>
  <div class="pas mtm bg-4 c-15 fsl fwl text-center bss bwas bc-3">
    NO REGRETS. GUARANTEED.
  </div>
  <div class="row nmhxs">
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="grid-item">
          <div class="grid-item-row row nmhxxxs">
            <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
              <div class="grid-item-content relative square">
                <div class="absolute fill">
                  <table class="full">
                    <tr>
                      <td class="text-center">
                        <i class="fa fa-user"></i>
                        <div class="mts c-8 fsxs hidden-xs">Contact</div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
              <div class="grid-item-label lhs fsxs fwl text-center">
                Paul Jovanovic
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="grid-item">
          <div class="grid-item-row row nmhxxxs">
            <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
              <div class="grid-item-content relative square">
                <div class="absolute fill">
                  <table class="full">
                    <tr>
                      <td class="text-center">
                        <i class="fa fa-envelope"></i>
                        <div class="mts c-8 fsxs hidden-xs">Email</div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
              <div class="grid-item-label lhs fsxs fwl text-center">
                paul@superjova.com
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="grid-item">
          <div class="grid-item-row row nmhxxxs">
            <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
              <div class="grid-item-content relative square">
                <div class="absolute fill">
                  <table class="full">
                    <tr>
                      <td class="text-center">
                        <i class="fa fa-mobile"></i>
                        <div class="mts c-8 fsxs hidden-xs">Phone</div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
              <div class="grid-item-label lhs fsxs fwl text-center">
                (847) 651-8258
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm hidden-xs hidden-sm">
      <div class="bg-15 bss bwas bc-13">
        <div class="grid-item">
          <div class="grid-item-row row nmhxxxs">
            <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
              <div class="grid-item-content relative square">
                <div class="absolute fill">
                  <table class="full">
                    <tr>
                      <td class="text-center">
                        <i class="fa fa-skype"></i>
                        <div class="mts c-8 fsxs hidden-xs">Skype</div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
              <div class="grid-item-label lhs fsxs fwl text-center">
                pavle.leatherjacketowner
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row nmhxs">
    <div class="col-sm-6 phxs mtm">
      <%= form_for @contact, url: contact_index_path do |f| %>
        <%= f.hidden_field :to, value: "paul@superjova.com" %>
        <%= f.hidden_field :subject, value: "Superjova Contact Form" %>
        <%= f.text_field :name, placeholder: "Name", class: "paxs bss bwas bc-13 full-width" %>
        <%= f.text_field :email, placeholder: "Email address", class: "paxs mtxs bss bwas bc-13 full-width" %>
        <%= f.text_area :message, placeholder: "Message", class: "paxs mtxs bss bwas bc-13 dvxxxxl full-width" %>
        <div class="row nmhxs mtxxxs">
          <div class="col-sm-4 col-sm-offset-8 phxs">
            <%= f.submit "SUBMIT", class: "btn btn-primary full-width bran", data: { disable_with: "submitting" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
