<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>SUPERJOVA</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
</head>
<body>
  <div class="fixed top left right js-navigation-fixed"></div>
  <nav id="main-navigation" class="js-navigation-fixable" data-fixable=true>
    <div class="relative bg-15 bss bwbs bc-12 js-navigation-fixable-content">
      <div class="container phs">
        <div class="pvxxxs clearfix">
          <div class="row nmhs">
            <div class="col-xs-3 phs">
              <%= link_to root_path do %>
                <%= image_tag "logo.png", class: "dvm" %>
              <% end %>
            </div>
            <div class="col-xs-9 phs">
              <ul class="man pull-right" style="list-style-type: none;">
                <li class="pls-plus dvm lhm pull-left">
                  <%= link_to "about", about_path %>
                </li>
                <li class="pls-plus dvm lhm pull-left">
                  <%= link_to "clients", clients_path %>
                </li>
                <li class="pls-plus dvm lhm pull-left">
                  <%= link_to "contact", contact_index_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="pbxxxxl">
    <%= yield %>
  </div>
</body>
</html>
